@import "tailwindcss";

@import './utilities.css';


:root {
  font-size: 16px;
}

@keyframes shimmer {
  0% {
    background-position: -200% -200%;
  }

  100% {
    background-position: 200% 200%;
  }
}

/* Custom styles for Plyr.js menu overflow */
.plyr__menu__container [role="menu"] {
  max-height: 200px;
  overflow-y: auto;
}

/* for mobile devices */
@media (max-width: 768px) {
  .plyr__menu__container [role="menu"] {
    max-height: 100px;
  }
}
